<header class="region_header">
  <div class="r">
    <div class="c-m-8 c-l-6 c-h-5 block__brand">
      <a data-ajax="link"
         data-ajax-to="content"
         href="{{ home }}">
        <img src="{{ data }}/img/logo.png" alt="Логотип"/>
        {#<i class="fa fa-car fa-4x"></i>#}
        {#<h1>avtomagazin.dp.ua</h1>#}
        {#<p>Детали решают всё!!!</p>#}
      </a>
    </div>
    <div class="c-s-6 c-m-4 c-l-3 c-h-2 block__callback">
      <a data-ajax="load"
         data-ajax-init="form callback"
         data-ajax-to="content"
         data-ajax-mod="prepend"
         href="{{ home }}/callback" class="field button_callback">
        <i class="field__icon fa fa-phone-square fa-2x"></i>
        <input type="button" value="Обратный звонок" class="field__button" />
        <!--<span class="field__button" >Обратный звонок</span>-->
      </a>
    </div>
    <div class="c-s-6 c-m-6 c-l-3 block__phones">
      <div class="r field__phone">
        <span class="os-t-2 c-t-4 c-s-3 os-m-4 os-l-0 c-l-4 field__operator">Kyivstar</span>
        <a href="tel:+380975343332">+38 (097) 534 33 32</a>
      </div>
      <div class="r field__phone">
        <span class="os-t-2 c-t-4 c-s-3 os-m-4 os-l-0 c-l-4 field__operator">MTS</span>
        <a href="tel:+380665713332">+38 (066) 571 33 32</a>
      </div>
      <div class="r field__phone">
        <span class="os-t-2 c-t-4 c-s-3 os-m-4 os-l-0 c-l-4 field__operator">Life</span>
        <a href="tel:+380935203332">+38 (093) 520 33 32</a>
      </div>
    </div>
    <a data-ajax="link"
       data-ajax-to="content"
       {#data-ajax-init="load cart"#}
       data-title="Корзина"
       href="{{ home }}/cart"
       class="c-t-6 c-m-3 os-l-8 c-l-2 os-h-0 c-h-1 block__cart">
      <div class="field">
        <i class="fa fa-shopping-cart fa-3x"></i>
        <p data-ajax-put="products-count">{{ session.productsCount|correctEnd(' товаров', ' товар', ' товара') }}</p>
        <p data-ajax-put="total-cost" class="total-cost">{{ session.totalCost }} грн.</p>
      </div>
    </a>
    <div class="c-t-6 c-m-3 c-l-2 c-h-1 block__user">
      <div class="field"><a href="#">Вход</a></div>
      <div class="field"><a href="#">Регистрация</a></div>
    </div>
  </div>
  {% include 'menu.php.twig' %}
</header>
