{#{% extends 'header.php.twig' %}#}

{#{% block menu %}#}
    <menu class="r block__menu">
        {% for item in menu_links %}
            <li class="c-m-2 {{ item.active ? 'active' }}">
                <a href="{{ home }}/page/{{ item.id }}">
                    <i class="fa fa-{{ item.icon }} fa-lg"></i>
                    <span>{{ item.text }}</span>
                </a>
            </li>
        {% endfor %}
    </menu>
{#{% endblock %}#}
