{#{% extends 'header.php.twig' %}#}

{#{% block menu %}#}
    <menu data-ajax="link"
          data-ajax-to="content"
          {#data-ajax-mod="append"#}
          class="r block__menu links_pages">
        {% for item in menu_links %}
            <li>
                <a data-title="{{ item.text }}" href="{{ home }}/page/{{ item.id }}">
                    <i class="fa fa-{{ item.icon }} fa-lg"></i>
                    <span>{{ item.text }}</span>
                </a>
            </li>
        {% endfor %}
    </menu>
{#{% endblock %}#}
