{% extends 'main.php.twig' %}

{% block page %}
  <div class="c-m-9 block__content">
    <table>
      <thead>
      <tr>
        <td>Код</td>
        <td>Поставщик</td>
        <td>Название</td>
        <td>Описание</td>
        <td>Цена, грн.</td>
        <td>Купить</td>
      </tr>
      </thead>
      <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product.code }}</td>
          <td>{{ product.vendor_id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td class="price">{{ product.price }}</td>
          <td><a href="addtocart"><i class="fa fa-shopping-cart fa-lg"></i></a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
