<aside class="c-m-3">
  <div class="block__search">
    <input type="search" placeholder="Поиск по коду..." />
  </div>
  <div class="block__categories">
    <ul>
    {% for key, category in categories %}
        <li class="{{ category.active ? 'active' }}">
            {#<i class="fa fa-gear" style="float: left;"></i>#}
          {#<a href="{{ home }}/product/{{ category.id }}?i={{ key }}">{{ category.name }}</a>#}
          <a href="{{ home }}/product/{{ category.id }}?i={{ key }}">{{ category.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</aside>
