<table class="block block_dynamic block-">
    {% if header %}
        <thead><tr><td colspan="{{ info.columns }}">{{ header }}: {{ info.columns }} columns</td></tr></thead>
    {% endif %}
    <tbody>
    {% for row in 0..(content|length / info.columns)|round(0, 'ceil') - 1 %}
        <tr>
            {% for content_item in content|slice(row * info.columns, info.columns) %}
                <td>{% include template with content_item only %}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    {% if footer %}
        <tfoot><tr><td colspan="{{ info.columns }}">{{ footer }}</td></tr></tfoot>
    {% endif %}
</table>